<div class="container">
    <h3> What can you do ? </h3> 

    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Profil Access</span>
              <p>When a user subscribe to this website, he can view his profile and access to the survey</p>
            </div>
            <div class="card-action">
                 <a [routerLink]="['/subscribe']">Go subscribe ! </a>
              </div>
          </div>
        </div>

        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Results</span>
                <p>After your participate, you can check the global results in the dashboard</p>
              </div>
              <div class="card-action">
                  <a href="https://share.geckoboard.com/dashboards/WFDIADZLJJI6QZOF" target="_blank">Go Results ! </a>
              </div>
            </div>
          </div>

        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Choice Survey</span>
                <p>Choices many surveys customizes and complete a form templates for each themes</p>
              </div>
              <div class="card-action">
                <a [routerLink]="['/subscribe']">Go subscribe ! </a>
              </div>
            </div>
          </div>

          

          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Integrate a community </span>
                <p>Come take a look on our facebook page and give your opinion and share your experience</p>
              </div>
              <div class="card-action">
                  <a href="https://www.facebook.com/Smart-2-Survey-102980641483626/" target="_blank">Go check ! </a>
              </div>
            </div>
          </div>

      </div>
                
</div>
