<body class="section scrollspy">
        <section  class="main_section">
            <h3 class="mytitle">Welcome to Smart 2 Survey</h3>
            <div class="sub_main_section">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../assets/image/feedback1.jpg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Explain the site<i class="material-icons right">more_vert</i></span>
                        <p><a [routerLink]="['/history']">What can you do here ?</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>What you can do here ?</span>
                        <p style= "color:black">Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../assets/image/user-satisfaction1.png">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">View the global results<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://share.geckoboard.com/dashboards/WFDIADZLJJI6QZOF" target="_blank">Click here for access to the dashboard</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Results</span>
                        <p style= "color:black">Here is some more information about the results in the dashboad with different informations that is only revealed once clicked on.</p>
                        </div>
                    </div>
            </div>
        </section>
        <section class="threeblocs">  
                <img class="materialboxed" width="390" height="250" src="../../../assets/image/kpi.jpg">
                <img class="materialboxed" width="390" height="250" src="../../../assets/image/chart1.jpg">
                <img class="materialboxed" width="390" height="250" src="../../../assets/image/chart2.png">
        </section>
</body>
<footer>
        <div>
            <div class="card-panel hoverable grey darken-4"> Author: Demba Dia - Noreez UL HASSAN SHAH- Dylan FANIVO <br/>   Contact: smart2survey3@gmail.com </div>
        </div>
</footer>  